.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 573px;
  height: auto;
  background-color: #f0f3f9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
  justify-content: center; 
  gap: 20px;
}

.header1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
}

.objective-text {
  font-size: 18px;
  line-height: 1.6;
  color: #3a3a3a;
}

.objective-text::before {
  content: "\201C";
  font-size: 24px;
  color: #999;
  margin-right: 8px;
}

.objective-text::after {
  content: "\201D";
  font-size: 24px;
  color: #c2c2c2;
  margin-left: 8px;
}

@media (min-width: 600px) {
  .header1 {
    font-size: 2.5em;
  }
}
