/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212);
  transition: background-color 0.3s ease;
  min-height: 100vh;
}

.body.dark {
  background-color: #222;
}

.toggle-btn {
  position: fixed;
  top: 10px;
  right: 11px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-btn:focus {
  outline: none;
}

.toggle-btn svg {
  font-size: 30px;
  color: #333;
}

.toggle-btn:hover svg {
  color: #555;
}

/*Body*/
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Container*/
.container1 {
  width: 80%;
  max-width: 500px;
  height: auto;
  background-color: #f0f3f9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container2 {
  width: 90%;
  max-width: 500px;
  height: auto;
  background-color: #f0f3f9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 40px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*Row*/
.row1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.row2 {
  display: flex;
  justify-content: center;
}

/*Header*/
.header1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
  user-select: none;
  cursor: grab;
  transition: transform 0.3s ease;
}

.header1.grabbing {
  cursor: grabbing;
}

.header2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
}

/*Objective Section*/
.objective-text {
  font-size: 18px;
  line-height: 1.6;
  color: #3a3a3a;
}

.objective-text::before {
  content: "\201C";
  font-size: 24px;
  color: #999;
  margin-right: 8px;
}

.objective-text::after {
  content: "\201D";
  font-size: 24px;
  color: #c2c2c2;
  margin-left: 8px;
}

/*Image Section*/
.profile-image {
  margin-top: 10px;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.profile-image.hovered {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/*Contact Section*/
.contact {
  font-size: 3.5vw;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-button {
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.contact-icon {
  margin-right: 8px;
  font-size: 18px;
}

.dark .contact-button {
  border-color: #ccc;
  color: #ccc;
  background-color: #333;
}

.dark .contact-button:hover {
  background-color: #555;
  box-shadow: 0 0 20px rgba(124, 124, 124, 0.4);
}

/*Responsive*/
@media (min-width: 600px) {
  .header1,
  .header2 {
    font-size: 2.5em;
  }
  .contact {
    font-size: 1em;
  }
  .modal-content {
    width: 80%;
    max-width: 300px;
  }
  .profile-image {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .container1 {
    width: 95%;
    max-width: none;
  }

  .container2 {
    width: 100%;
    max-width: none;
  }
  
  .profile-image {
    width: 180px;
    height: 180px;
  }
  
  .row1 {
    flex-direction: column;
    align-items: center;
  }
}

.container1.light {
  background-color: #f0f3f9;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container2.light {
  background-color: #f0f3f9;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header1.light {
  color: #333;
}

.objective-text.light {
  color: #3a3a3a;
}

.container1.dark {
  background-color: #1a1a1a;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.container2.dark {
  background-color: #1a1a1a;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.header1.dark {
  color: #ffffff;
}

.objective-text.dark {
  color: #c2c2c2;
}

.contact-button.dark {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.plus-one {
  position: absolute;
  font-size: 24px;
  color: rgba(0, 128, 0, 0.616);
  animation: plusOneAnimation 1s ease-out;
  pointer-events: none;
  z-index: 10;
}

@keyframes plusOneAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -100%) scale(2);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -150%) scale(3);
    opacity: 0;
  }
}

/* Count Circle */
.count-circle {
  position: fixed;
  top: 70px; /* Adjust as per your design */
  right: 10px; /* Adjust as per your design */
  width: 50px; /* Diameter of the circle */
  height: 50px; /* Diameter of the circle */
  background-color: white; /* Green color */
  border-radius: 50%; /* Ensures it's circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dark .count-circle {
  color: white;
  background-color: #333; /* Dark background color */
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal p {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-buttons button:first-child {
  background-color: #4caf50;
  color: white;
}

.modal-buttons button:first-child:hover {
  background-color: #45a049;
}

.modal-buttons button:last-child {
  background-color: #f44336;
  color: white;
}

.modal-buttons button:last-child:hover {
  background-color: #f22e17;
}

/*Work Experience Section*/
.work-experience-list {
  padding-top: 20px;
  border-left: 2px solid grey;
  padding-left: 20px;
}

.job-details {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}

.job-details:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--job-color, grey);
  border: 2px solid #fff;
}

.job-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.job-period {
  font-style: italic;
  color: #777;
}

/*Footer*/

.footer {
  background-color: #333;
  color: #fff;
  padding: 2px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer .tech-icons {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px; /* Add some space between the lines */
}

.footer .tech-icon {
  width: 24px;
  height: 24px;
}
