name: Environment and Variables

on:
  push:
    branches:
      - main
jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - name: Print image link
        run: echo ${{ vars.VITE_IMG_LINK }}
